[submodule "dmp-scraper"]
	path = dmp-scraper
	url = git@github.com:jegtnes/dmp-scraper.git
[submodule "app/assets/javascripts/scraper"]
	path = app/assets/javascripts/scraper
	url = git@github.com:jegtnes/dmp-scraper.git
