.breakout {
	padding: $base-spacing-unit 0 ;
	position: relative;
	z-index: 1;
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -100%;
		right: -100%;
		content: "";
		z-index: -1;
		@include vertical-gradient(rgba(0,0,0,.9), rgba(0,0,0,0))
	}
}
