.breakout {
	// background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 1;
	&:before {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		top: 0;
		bottom: 0;
		left: -100%;
		right: -100%;
		content: "";
		z-index: -1;
	}
}
