.form--search {
	.text-input,
	label {
		font-size: 1.5rem;
		padding: .375rem;
		color: #fff;
	}

	.text-input {
		background-color: inherit;
		border-width: .0625rem .0625rem .125rem;
		border-color: transparent transparent #fff;
	}

	fieldset {
		border: 0;
		padding: 0
	}

	@include mq(46.875em) {
		.search-stations {
			text-align: right;
			width: 62.5%; /* 7/12 */
		}

		.search-time {
			text-align: left;
			width: 37.5%; /* 5/12 */
		}
	}
}

.text-input--wide {
	width: 22rem;
}

.text-input--narrow {
	width: 12rem;
}

.picker {
	text-shadow: none;
}

.picker__day,
.picker__weekday {
	text-align: center;
}
