.form--search {
	.text-input, label {
		font-size: 1.5rem;
		padding: .375rem 0;
		color: #fff;
	}

	.text-input {
		background-color: inherit;
		border-width: .0625rem .0625rem 0.125rem .0625rem;
		border-color: transparent transparent #fff transparent;
	}

	fieldset {
		border: none;
		&:nth-of-type(0) {
			text-align: left;
		}

		&:nth-of-type(1) {
			text-align: right;
		}
	}
}

.text-input--wide {
	width: 22rem;
}

.text-input--narrow {
	width: 12rem;
}
