html,
body {
	height: 100%;
	min-height: 100%;
}


body {
	background: url('/assets/backgrounds/forthrailbridge2.jpg');
	background-size: cover;
	color: #fff;
	overflow: hidden;
}

a,
a:visited {
	color: white;
}
