html,
body {
	min-height: 100%;
}


body {
	overflow: hidden;
	&.controller-search.action-index {
		color: #fff;
		background: url('/assets/backgrounds/forthrailbridge2.jpg');
		background-size: cover;
	}
}

a,
a:visited {
	color: white;
}
