html {
  font-family: "europa", "Gill Sans", sans-serif;
  font-weight: 400;
}


body {
  min-height: 100%;
  &.controller-search.action-index {
    overflow-x: hidden;
    a,
    a:visited {
        color: #fff;
    }
    color: #fff;
    background: image-url('backgrounds/forthrailbridge2.jpg');
    background-size: cover;
  }
}

h2 {
  font-family: "reklame-script";
  font-weight: 400;
  strong {
    font-family: "europa";
    font-weight: 400;
    text-transform: uppercase;
  }
}
