.journeys {
  @extend %clearfix;
  margin: 0;
  font-family: "ratio-display", sans-serif;
  padding: $half-spacing-unit;
  counter-reset: li;
  font-size: 1.25em;
}

.journey {
  width: 100%;

  float: left;
  position: relative;
  list-style: none;
  padding-left: 2.5rem; // leave space for the before counter
  margin-bottom: 1em;

  @include mq(24em) {
    width: 50%;
    padding-left: 4.5rem;
  }

  // In order to style the list number, we need to manually generate it ourselves.
  &:before {
    content: counter(li) ".";
    counter-increment: li;
    position: absolute;
    font-size: 2rem;
    width: 2rem;
    margin-left: -2.5rem;
    margin-top: 1.35rem;
    text-align: right;

    @include mq(24em) {
      font-size: 4rem;
      width: 4rem;
      margin-left: -4.5rem;
    }
  }
}

  .journey--fare {
    position: absolute;
    top: 1.55rem;
    right: 0;
    font-size: 2rem;
    text-align: right;
  }
