.journey-listing {
	width: auto;
	font-size: 1.5rem;
	.dep {
		&::after {
			content: "—";
			margin-left: 1.5rem;
		}
	}
}

.journey--worse {
	background-color: #cc2020;
}

.journey--mediocre {
	background-color: #fff;
}

.journey--better {
	background-color: #20cc20;
}
