.tt-hint {
	color: rgba(255,255,255, 0.5);
	padding: 0.375rem;
	border-width: .0625rem;
}

.tt-dropdown-menu {
	background-color: rgba(0,0,0, 0.5);
	right: 0 !important;
	text-align: left;
	padding: .375rem;
}

.tt-suggestion > p {
	margin-bottom: $half-spacing-unit;
}
